.project {
    padding: 10px;

    background-color: #252525;
}

.project:hover {
    cursor: pointer;
}

.project > * {
    color: white;
}

@media only screen and (min-width: 1200px) {

    .project {
        display: inline-block;

        width: 50%;
    }

    .project:nth-child(even) {
        float: right;

        border-left: 10px solid white;
    }

    .project:nth-child(odd) {
        float: left;

        border-right: 10px solid white;
    }
}