@charset "UTF-8";


@import "text.css";
@import "cards.css";


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


main {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

main > * {
    margin-bottom: 20px;
}

main:last-child {
    margin-bottom: 0px;
}


header {
    margin-top: 20px;
}

header img#banner {
    width: 100%;
    height: auto;
    
    max-height: 300px;

    object-fit: cover;
}

header img#logo {
    position: relative; 
    top: -125px;
    left: 5px;

    height: 100px;

    margin-bottom: -100px;
    
    filter: invert(1);
}

header nav a {
    display: inline-block;

    padding-right: 10px;

    text-decoration: none;
}

header nav a.active {
    text-decoration: underline;
}


footer {
    display: block;

    width: 100%;

    text-align: center;
}


@media only screen and (min-width: 600px) {

    main {
        max-width: 600px;

        margin: 0 auto;
    }

}

@media only screen and (min-width: 1200px) {

    main {
        max-width: 1000px;
    }
}