@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Questrial|Raleway&display=swap'); 

/* Every Element (Ones below will overide if need be) */
* { 
    color: #252525;
    font-family: 'Raleway', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: 0px 5px 5px RGBA(37, 37, 37, 0.3);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', sans-serif;
}

/* Animations */

@keyframes fade-in {
    from {
        display: none;
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: 1;
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes slide-out-bottom {
    from {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 1;
    } to {
        position: fixed;
        top: 100vh;
        left: 0;
        opacity: 0;
    }
}

@keyframes skill-dialogue {
    from {
        height: 0px;
    } to {
        height: 100px;
    }
}

@keyframes bee-flight {
    0% { 
        position: fixed;
        left: -10vw;
        transform: rotate(90deg) scale(0);
    } 40% {
        top: 50vh;
        left: 50vw;
        transform: rotate(90deg) scale(1);
    } 50% {
        top: 50vh;
        left: 50vw;
        transform: rotate(0deg) scale(1.2);
    } 60% {
        top: 50vh;
        left: 50vw;
        transform: rotate(90deg) scale(1);
    } 100% {
        left: 110vw;
        transform: rotate(90deg) scale(0);
    }
}

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

.row {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .row {
        display: flex;
        flex-flow: row;
    }
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* Horizontal Line */
hr {
    color: #252525;
    width: 100%;
    box-shadow: 0px 5px 5px RGBA(37, 37, 37, 0.3);
}

/* Loading */

#loading-screen {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-logo {
    position: relative;
    left: 50vw;
    top: 45vh;
    width: 180px;
    height: 180px;
    padding: 0;
    margin-left: -90px;
    margin-top: -120px;
}

#loading-spinner {
    animation: spin 1s infinite linear;
    position: relative;
    left: 50vw;
    top: 50vh;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: -110px;
}

/* Jump to top button */

#top-button {
    color: white;
    background-color: #252525;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 2px solid white;
    text-align: center;
    font-size: 17pt;
    position: fixed;
    bottom: 30px;
    left: 50%;
    margin: 0;
    margin-left: -25px;
    padding: 0;
    z-index: 3;
    animation: fade-out 0s forwards;
    transition: 0.3s ease all;
}

#top-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Bees */

.bee {
    position: fixed;
    left: -10vw;
    padding: 0;
    margin: 0;
    margin-left: -18px;
    width: 30px;
    overflow: hidden;
    animation: bee-flight 4s ease forwards;
}

/* Read More/Read Less */

.read-more {
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 0px;
    transition: ease all 0.5s;
}

.read-more-button:hover {
    cursor: pointer;
}

.read-more-button:after {
    content: "\f107";
    font-family: FontAwesome;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 3px;
    transform: scale(0.6);
    vertical-align: middle;
    transition: 0.3s 0.3s ease all;
}

.read-more-button.active:after {
    transform: rotate(180deg) scale(0.6);
}

/* Main */

main {
    margin: 0;
    padding: 20px;
}

#main {
    padding-bottom: 30vh;
}

/* Banner */

#banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#banner img {
    vertical-align: middle;
    width: 250px;
}

#banner h1 {
    margin: 0;
    vertical-align: middle;
}

#banner h1.desktop-only {
    font-size: 50pt;
}

#banner h1.mobile-only {
    font-size: 37pt;
    text-align: center;
}

/* Lists */

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 13px;
}

li:before {
    content: "-";
    display: inline-block;
    margin-left: -13px; /* same as padding-left set on li */
    width: 13px; /* same as padding-left set on li */
}

/* About */

.about-pic {
    background-image: url(../img/about-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 60%;
    box-shadow: 0px 10px 10px -5px #252525;
}

.about-pic.mobile-only {
    width: 100%;
    height: 300px;
}

/* Skill */

#skills {
    text-align: center;
}

#skills h3, #skills p {
    text-align: left;
}

.collapsed {
    height: 0px;
    opacity: 0;
    visibility: hidden;
}

.uncollapsed {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: 0.4s ease;
}

.skill {
    width: 70px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: 0.3s ease all;
}

.skill:before {
    font-size: 35pt;
}

.skill:hover {
    cursor: pointer;
    opacity: 0.9;
}

#skill-dialogue {
    background-color: #252525;
    padding: 10px;
    color: white;
    padding-bottom: 0px;
}

#skill-dialogue:hover {
    cursor: pointer;
}

#skill-dialogue a, #skill-dialogue p, #skill-dialogue h2 {
    color: white;
}

#skill-icon, #skill-title {
    display: inline-block;
    margin: 0;
}

#skill-icon {
    font-size: 30pt;
}

#skill-title {
    position: relative;
    top: -6px;
    left: 10px;
}

/* Projects */

.project-container {
    padding: 5px;
}

#projects .read-more .project-container:last-child {
    padding-bottom: 15px;
}

.project {
    height: 100%;
    background-color: #252525;
    box-shadow: 0px 10px 10px -5px #252525;
}

.project-banner {
    background-position: center;
    background-size: cover;
    height: 200px;
}

.project-content {
    position: relative;
    top: 20px;
    padding: 10px;
    padding-bottom: 25px;
    color: white;
}

.project-content h3, .project-content p, .project-content hr, .project-content a {
    color: white;
}

.project-content hr {
    border-bottom: 0; /* Drop hr down to only 1 px thicks */
}

.project-content .read-more {
    margin-bottom: 14px;
}

.project-content .read-more-button {
    padding-bottom: 5px;
}

#more-projects-button {
    border: 2px solid #252525;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s ease all;
    padding: 10px;
    margin-top: 10px;
}

#more-projects-button:hover {
    background-color: RGBA(37, 37, 37, 0.1);
    cursor: pointer;
}

/* Links */

#links {
    text-align: center;
}

#links h2, #links p {
    text-align: left;
}

#links a {
    font-size: 35pt;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 0.3s ease all;
}

#links a:hover {
    opacity: 0.9;
}

/* Contact */

input[type=text], input[type=email], textarea[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 0;
    resize: none;
    font-size: 11.5pt;
}

input[type=submit] {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0;
    margin-bottom: 0;
    transition: 0.3s ease;
    background-color: #252525;
}

input[type=submit]:hover {
    opacity: 0.9;
}

/* 404 */

#meme404 {
    background-color: #252525;
}

#meme404 p {
    color: white;
    padding-left: 10px;
    font-size: 13pt;
}

/* Footer */

footer {
    text-align: center;
}