@charset "UTF-8"; /* Set charset UTF-8 */

/* 
    css/styles.css
    Author: Jordan Hay
*/

/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto'); 

/* Every Element (Ones below will overide if need be) */
* { 
    color: #252525;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

/* Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        z-index: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes background-zoom {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.05);
    }
}

@keyframes slide-in-left {
    from {
        position: relative;
        left: -100%;
    } to {
        position: relative;
        left: 0%;
    }
}

/* Responsive */

/* Mobile */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 5px;
}

.mobile-only {
    display: inline-block;
}

.desktop-only {
    display: none;
}
  
/* Desktop */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .mobile-only {display: none;}
    .desktop-only {display: inline-block;}
}

/* Horizontal Line */
hr {
    color: #252525;
}

/* Loading */

#loading-screen {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

#loading-logo {
    position: relative;
    left: 50vw;
    top: 45vh;
    width: 180px;
    height: 180px;
    padding: 0;
    margin-left: -90px;
    margin-top: -120px;
}

#loading-spinner {
    animation: spin 1s infinite linear;
    position: relative;
    left: 50vw;
    top: 50vh;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: -110px;
}

/* Main */

main {
    margin: 0;
    padding: 20px;
}

/* This is different to the actual main */
#main {
    opacity: 0;
}

#banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#banner img {
    vertical-align: middle;
    width: 250px;
}

#banner h1 {
    margin: 0;
    vertical-align: middle;
}

#banner h1.desktop-only {
    font-size: 50pt;
}

#banner h1.mobile-only {
    font-size: 40pt;
    text-align: center;
}