Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^home/(\d+)*$ ./index.html?id=$1
RewriteRule ^blog/(\d+)*$ ./blog.html?id=$1