
.article-info {
    display: block;
    width: 100%;
    
    padding-top: 20px;
    padding-bottom: 40px;

    font-style: italic;
}

.article-info .publish-date {
    float: left;
}

.article-info .word-count {
    float: right;
}


a.footnote {
    font-size: 8pt;
}


div.footnotes ol li {
    transition: ease-in all 300ms;
    background-color: inherit;
}


div.footnotes ol li:target {
    background-color: var(--highlight-colour);
}


code, code * {
    color: var(--text-colour) !important;
    background-color: var(--secondary-bg-colour) !important;
}