@keyframes bee-flight {
    0% { 
        position: fixed;
        left: -10vw;
        transform: rotate(90deg) scale(0);
    } 40% {
        top: 50vh;
        left: 50vw;
        transform: rotate(90deg) scale(1);
    } 50% {
        top: 50vh;
        left: 50vw;
        transform: rotate(0deg) scale(1.2);
    } 60% {
        top: 50vh;
        left: 50vw;
        transform: rotate(90deg) scale(1);
    } 100% {
        left: 110vw;
        transform: rotate(90deg) scale(0);
    }
}


.bee {
    position: fixed;
    left: -10vw;
    padding: 0;
    margin: 0;
    margin-left: -18px;
    width: 30px;
    overflow: hidden;
    z-index: 9999;
    animation: bee-flight 4s ease forwards;
}