/* Provides theme variables to all CSS */

:root {
    --text-colour: #f2f2f2;
    --bg-colour: #000000;
    --secondary-bg-colour: #404040;
    --highlight-colour: #1f5970;
    --link-colour: #30e3ca;
    --heading-colour: #2f89ac;
}
