<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Jordan Hay's Website" />
        <meta name="author" content="J. L. Hay" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{page.title}} - {{site.title}}</title>
        <link rel="icon" href="{{site.baseurl}}/img/favicon.ico" />
        <link rel="icon" href="{{site.baseurl}}/img/favicon.png" />

        <!-- Font loading -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Image preloading -->
        <link rel="preload" href="{{site.baseurl}}/img/jordan.jpg" as="image" />
        <link rel="preload" href="{{site.baseurl}}/img/jordan-profile.jpg" as="image" />
        <link rel="preload" href="{{site.baseurl}}/img/logo_white.png" as="image" />

        <!-- Site wide styles -->
        <style>
            /* Inserted from css/themes.css */
            {% include css/themes.css %}

            /* Inserted from css/text.css */
            {% include css/text.css %}

            /* Inserted from css/styles.css */
            {% include css/styles.css %}
        </style>
    </head>
    <body>

        <header id="header">
            {% if page.name == "index.md" %}
            <img id="banner" />
            <img id="logo" src="{{site.baseurl}}/img/logo_white.png" />

            <script>
                /* Inserted from js/header.js */
                {% include js/header.js %}
            </script>
            {% endif %}

            <h1>{{page.title}}</h1>

            <nav>
                <a href="/">Home</a>
                <a href="{{site.baseurl}}/articles">Articles</a>
            </nav>
        </header>

        <main>
            {{content}}
        </main>

        <footer>
            {% if page.date != nil %}
            <small>Content: &copy; {{page.date | date: "%Y"}} J. L. Hay</small>
            {% else %}
            <small>Content: &copy; 2017-{{"now" | date: "%Y"}} J. L. Hay</small>
            {% endif %}
            <br />
            <small>Source Code: MIT License</small>
        </footer>
    </body>
</html>