<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Jordan Hay's Website" />
        <meta name="author" content="J. L. Hay" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{page.title}} - {{site.title}}</title>
        <link rel="icon" href="{{site.baseurl}}/img/favicon.ico" />
        <link rel="icon" href="{{site.baseurl}}/img/favicon.png" />

        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/styles.css" />
    </head>
    <body>

        <header id="header">
            {% if page.name == "index.md" %}
            <img id="banner" />
            <img id="logo" src="{{site.baseurl}}/img/logo_white.png" />
            {% endif %}

            <h1>{{page.title}}</h1>

            <nav>
                <a href="/">Home</a>
                <a href="{{site.baseurl}}/articles">Articles</a>
            </nav>
        </header>

        <main>
            {{content}}
        </main>

        <footer>
            {% if page.date != nil %}
            <small>Content: &copy; {{page.date | date: "%Y"}} J. L. Hay</small>
            {% else %}
            <small>Content: &copy; 2017-{{"now" | date: "%Y"}} J. L. Hay</small>
            {% endif %}
            <br />
            <small>Source Code: MIT License</small>
        </footer>
    </body>

    <script src="{{site.baseurl}}/js/header.js"></script>
</html>