<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Jordan Hay's Website" />
        <meta name="author" content="J. L. Hay" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{page.title}} - {{site.title}}</title>
        <link rel="icon" href="{{site.baseurl}}/img/favicon.ico" />
        <link rel="icon" href="{{site.baseurl}}/img/favicon.png" />

        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/styles.css" />
    </head>
    <body>

        <main>

            <header id="header">
                <img id="banner" src="{{site.baseurl}}/img/header/oxford_terrace.jpg" />
                <img id="logo" src="{{site.baseurl}}/img/logo_white.png" />

                <h1>{{page.title}}</h1>

                <nav>
                    <a href="/">Home</a>
                    <a href="{{site.baseurl}}/projects">Projects</a>
                    <a href="{{site.baseurl}}/articles">Articles</a>
                </nav>
            </header>

            {{content}}

            <footer>
                <p>Content: &copy; 2023 J. L. Hay</p>
                <p>Source Code: MIT License</p>
            </footer>
        </main>
    </body>

    <script src="{{site.baseurl}}/js/header.js"></script>
</html>