body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 70px;
    border-left: 1px solid RGBA(0, 0, 0, 0.8);
    border-right: 1px solid RGBA(0, 0, 0, 0.8);
    float: left;
}

.content2 {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 80px;
    border-left: 1px solid RGBA(0, 0, 0, 0.8);
    border-right: 1px solid RGBA(0, 0, 0, 0.8);
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.clear {
    color: RGBA(0, 0, 0, 0);
}

.blue {
    max-width: 300px;
    background: blue;
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.grey {
    max-width: 300px;
    background: gray;
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.black {
    max-width: 300px;
    background: RGBA(0, 0, 0, 0.8);
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.blue2 {
    max-width: 300px;
    background: blue;
    color: white;
    position: relative;
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    float: left;
    display: block;
}

.blue3 {
    max-width: 300px;
    background: blue;
    color: white;
    position: relative;
    padding: 10px;
    float: none;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.blog-title {
    background: blue;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-left: 1px solid RGBA(0, 0, 0, 0.8);
    border-right: 1px solid RGBA(0, 0, 0, 0.8);
    float: none;
}

#searchInput {
    font-size: 17px;
    padding: 14px 16px; 
    border: 1px solid grey;
}

#searchTable {
    border-collapse: collapse;
    border: 1px solid grey;
    font-size: 18px;
    max-width: 100%;
}

#searchTable th, #searchTable td {
    text-align: left;
    padding: 12px;
    color: white;
}

#searchTable th {
    background-color: RGBA(0,0,0,0.8);
}

#searchTable td {
    background-color: blue;
}

#searchTable td a {
    display: block;
}

#searchTable tr {
    border-bottom: 1px solid grey; 
}

#searchTable a {
    color: white;
}

#submit {
    background: RGBA(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    padding: 14px 16px;
}

input, textarea {
    padding: 5px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

input {
    width: 180px;
}

textarea {
    width: 220px;
}

#submit:hover {
    background-color: gray;
}

.header {
    text-align: left;
}