body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 10px;
    border-left: 1px solid RGBA(0, 0, 0, 0.8);
    border-right: 1px solid RGBA(0, 0, 0, 0.8);
    float: left;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

p, h1, h2, h3, h4, h5, h6, a {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.clear {
    color: RGBA(0, 0, 0, 0);
}

.top-button {
    width: 30px;
    font-size: 30px;
    text-align: center;
    background: blue;
    color: white;
    position: fixed;
    margin: 10px;
    padding: 10px;
    right: 0;
    bottom: 0;
}

.blue {
    max-width: 29.5%;
    background: blue;
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.grey {
    max-width: 29.5%;
    background: gray;
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

.black {
    max-width: 29.5%;
    background: RGBA(0, 0, 0, 0.8);
    color: white;
    position: relative;
    margin: 10px;
    padding: 10px;
    float: left;
    display: block;
}

#submit {
    background: RGBA(0,0,0,0.8);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    padding: 14px 16px;
}

input, textarea {
    padding: 5px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

input {
    width: 180px;
}

textarea {
    width: 220px;
}

#submit:hover {
    background-color: gray;
}

#top {
    position: relative;
    top: -100px;
}

#top-button {
    display: none;
}